// luh colors
$luh-blue: #00509b;
//$luh-blue: #00519e;
$luh-gray: #E6E6E6;
$luh-lime: #B4C624;

// sbf colors
$sbf-color-1: #640904;
$sbf-color-2: #259E7D;
$sbf-color-3: #c8242c;
$sbf-color-4: #004F9F; // do not use, to close to luh-blue

.bg-luh-blue {
  color: $luh-gray;
  background-color: $luh-blue !important;
}

.bg-luh-gray {
  background-color: $luh-gray !important;
}
.bg-luh-lime {
  background-color: $luh-lime !important;
}

.image-luh {
  min-height: 75px;
  background-image: url('https://upload.wikimedia.org/wikipedia/de/thumb/c/c4/Leibniz-Universität_Hannover.svg/1204px-Leibniz-Universität_Hannover.svg.png') !important;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

#mw-navigation .nav-item > .nav-link:hover {
  border-bottom: .25rem solid $luh-lime;
  padding-bottom: .75rem;
  margin-bottom: -.75rem;
}

#searchGoButton,.nav-link {
  color: $luh-blue !important;
}

.heading:before {
  content: "SFB 1368";
  font-weight: bold;
  font-size: xx-large;
  color: $luh-gray;
}

table.infoboxright {
  @extend .table;
}

table.infobox {
  @extend .table;
  @extend .rounded;
  //@extend .bg-light;
  float: right;
  clear: right;
  width: 30em;
  border-color: #c6c8ca;
}
table.infobox > tbody > tr:first-child {
  color: #fff;
  background-color: $luh-blue;
  border-color: #454d55;
}

table.infobox > tbody > tr {
  background-color: white;
}

// ================ BUTTON LAYOUTS ================

// main page
form button {
  @extend .btn;
  color: $luh-gray !important;
  @extend .bg-luh-blue;
  border-radius: 0 4px 4px 0 !important;
}

// edit buttons
.editButtons input[type="submit"] {
  @extend .btn;
  color: $luh-gray !important;
  @extend .bg-luh-blue;
}

// ================ FACTBOX LAYOUTS ================

// button
.smw-factbox input[type="radio"].tab-facts-list {

}

// lime border top
.smw-factbox input.nav-tab:checked + label.nav-label {
  border-top: 2px solid $luh-lime !important;
}

// factbox
.smwfact {
  @extend .collapse;
  border-bottom: 1px solid #aaa !important;
}

// factbox container
#tab-content-facts-list {
  border-bottom: 0px;
}

// ================ FORM LAYOUTS ================

table.formtable {

}

table.formtable tr {

}

table.formtable input {
  /*
  all: initial;
  * {
    all: unset;
  }
  */
  @extend .form-control;

}


