// ================ COLORS ================

// luh colors
$luh-blue: #00509b; //$luh-blue: #00519e;
$luh-gray: #E6E6E6;
$luh-lime: #B4C624;

// sbf colors
$sbf-color-1: #098bc2;
$sbf-color-2: #c7c7c7;
$sbf-color-3: #000000; // do not use, it is black
$sbf-color-4: #edefee; // do not use, to close to luh-gray

.bg-luh-blue {
  color: $luh-gray;
  background-color: $luh-blue !important;
}
.bg-sbf-color-1 {
  color: $luh-gray;
  background-color: $sbf-color-1 !important;
}

.bg-luh-gray {
  background-color: $luh-gray !important;
}
.bg-luh-lime {
  background-color: $luh-lime !important;
}

.bg-white {
  background-color: white !important;
}

.bg-1 {
  background-color: /*#f3f9fc*/ #fafafa !important;
}

.color-luh-gray {
  color: $luh-gray !important;
}

// ================ SFB 1153 ================

body {
  background-color: white;
}

#content {
  background-color: white;
  @extend .rounded;
  @extend .pb-2;
}

#searchform input.form-control {
  //@extend .form-control-lg;
  //border-radius: 0;
}
#p-logo {
  @extend .p-1;
  @extend .rounded;
  display: inline-block;
  background-color: white;
}

#p-logo img {
  width: 75px !important;
}

#p-personal a {
  color: $sbf-color-1 !important;
  @extend .nav-link;
  @extend .px-2;
}

a {
  color: $sbf-color-1 !important;
}

nav {
  @extend .py-0;
}

.nav-shadow {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  z-index: 10;
}
// ================ NAVBAR ================


#searchGoButton {
  color: $sbf-color-1 !important;
}

.nav-item .nav-link {
  color: $sbf-color-1 !important; //sfb-1153
}
.nav-link:hover {
  color: $luh-lime !important;
}

.bg-sbf-color-1 .dropdown-menu {
  @extend .bg-sbf-color-1;
}

.heading:before {
  content: "SFB 1153";
  font-weight: bold;
  font-size: xx-large;
  color: $sbf-color-1;
}

// ================ FOOTER ================

.image-luh {
  min-height: 75px;
  background-image: url('https://upload.wikimedia.org/wikipedia/de/thumb/c/c4/Leibniz-Universität_Hannover.svg/1204px-Leibniz-Universität_Hannover.svg.png') !important;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

// ================ INFOBOX ================

table.infoboxright {
  @extend .table;
}

table.infobox {
  @extend .table;
  @extend .rounded;
  float: right;
  clear: right;
  width: 30em;
  border-color: #c6c8ca;
}
table.infobox > tbody > tr:first-child {
  color: #fff;
  background-color: $luh-blue;
  border-color: #454d55;
}

table.infobox > tbody > tr {
  background-color: white;
}

// ================ BUTTON LAYOUTS ================

// all buttons
input[type="submit"][value="Go"], .editOptions .oo-ui-buttonElement-button, button#wpLoginAttempt, button.oo-ui-buttonElement-button, button[name="wpPreview"], button[name="wpDiff"], .cancelLink a[role="button"], .oo-ui-flaggedElement-destructive a[role="button"]
{
  @extend .btn;
  @extend .color-luh-gray;
  @extend .sfb-btn;
  border-radius: 4px !important;
  border: none !important;
}
.sfb-btn .oo-ui-labelElement-label {
  font-weight: normal !important;
}

// link appearance
a.oo-ui-buttonElement-button span{
  line-height: 1.5 !important;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

// cancel buttons
.cancelLink a[role="button"], .oo-ui-flaggedElement-destructive a[role="button"] {
  @extend .btn-danger;
}

.cancelLink a[role="button"] {
  margin-left: .375rem;
}

// save/submit changes
input#wpSave, button[name="wpSave"], input[type="submit"][value="Go"] {
  @extend .btn-primary;
}


// preview/show changes
input#wpPreview, input#wpDiff,button[name="wpPreview"], button[name="wpDiff"] {
  @extend .btn-info;
}

/*
// main page
form button {
  @extend .btn;
  color: $luh-gray !important;
  @extend .bg-luh-blue;
  border-radius: 0 4px 4px 0 !important;
}

// edit buttons
.editButtons input[type="submit"] {
  @extend .btn;
  color: $luh-gray !important;
  @extend .bg-luh-blue;
}
*/


// ================ FACTBOX LAYOUTS ================

// button
.smw-factbox input[type="radio"].tab-facts-list {

}

// lime border top
.smw-factbox input.nav-tab:checked + label.nav-label {
  border-top: 2px solid $luh-lime !important;
}

// factbox
.smwfact {
  @extend .collapse;
  border-bottom: 1px solid #aaa !important;
}

// factbox container
#tab-content-facts-list {
  border-bottom: 0px;
}

// ================ FORM LAYOUTS ================

select, input {
  @extend .form-control;
}

table.formtable {

}

table.formtable tr {

}

table.formtable input {
  /*
  all: initial;
  * {
    all: unset;
  }
  */
  @extend .form-control;

}


